<div ng-if="weekEvents.events.length != 0">         
         <div class=""><!--borderless-->
             <div class="">
              <table  class="table fluid" st-table="weekEvents.events">
                    <tbody>

                        <tr ng-repeat="event in weekEvents.events">
                            
                            <td class="text-center"><b>{{event.Hours}}</b></td>
                            <td><a href="#" title="delete" role="button" ng-click="deleteRow($index)" class="delete" data-toggle="modal"><i class="fa fa-times"></i></a></td>

                        </tr>
                        <tr>
                          <td class="text-center-"><b>Totals: {{totalHoursPerWeek}}</b></td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
                    </div>

        <div class="btn-toolbar pull-right" >
          <div class="btn">Save</div>
        </div>