
         
         <!-- DAY VIEW-->
         <div  class="">
           <div class="overflow-x-scroll">
              <table ng-if="eachDayEvents[theDayInWeek].events.length != 0" class="table fluid" st-table="eachDayEvents[theDayInWeek].events">
                    <tbody>
                        <tr>
                          <th>Project name</th>
                          <th>Task name</th>
                          <th>Comments</th>
                          <th>Hours</th>
                          <th></th>
                        </tr>
                        <tr ng-repeat="event in eachDayEvents[theDayInWeek].events">
                          <td class="tableColumn">[{{event.ProjectNameId}}] {{event.Project}}</td>
                          <td class="tableColumn">{{event.Task}}</td>
                          <td class="tableColumn">{{event.Comments}}</td>
                          <td class="tableColumn">{{event.Hours}}</td>
                          <td>
                            <div>
                                <a href="#{{modal1}}" role="button" class="link pull-right" ng-click="editComments($index)" data-toggle="modal">EDIT</a> 
                            </div>
                          </td>
                        </tr>
                        <tr ng-if="totalHoursPerDay != 0" class="total">
                          <td class="tableColumn">Total hours:</td>
                          <td class="tableColumn"></td>
                          <td class="tableColumn"></td>
                          <td class="tableColumn">{{totalHoursPerDay}}</td>
                        </tr>
                    </tbody>
              </table>
           </div>
			  </div>

        <!-- dialog directive -->
        <div class="btn-toolbar pull-left" >
                <modal lolo="modal1" modal-body="body" modal-footer="footer" modal-header="header" 
                modal-headerdate = "headerdate" 
                modal-projectList = "projectList" 
                modal-projectGroups = "projectGroups" 
                modal-taskList = "taskList"
                modal-taskname= 'taskname'
                modal-projectname= 'projectname' 
                modal-comments='comments'
                modal-hours='hours'
                modal-iseditevent="iseditevent"
                data-ng-click-right-button="saveTaskEntry()"></modal>
                <a href="#{{modal1}}" role="button" class="btn" ng-click= "newEntryClick()" data-toggle="modal"><i class="fa fa-plus"></i> New entry</a>
        </div>

        <div class="btn-toolbar pull-left" >
          <div class="btn">Save</div>
        </div>