<div ng-if="weekEvents.events.length != 0">         
         <div class="">
             <div class="">
              <table  class="table fluid" st-table="weekEvents.events"><!--table-bordered-->
                    <tbody>

                        <tr ng-repeat="event in weekEvents.events">
                            <td class="tableColumn">
                              <div>
                                <b>[{{event.ProjectNameId}}] {{event.Project}}</b>  ({{event.Task}}) 
                              </div>  
                            </td>
                           {{event}} 
                        </tr>
                        <tr>
                          <td><div class="text-center">
                                  <a href="#{{modal1}}" data-keyboard = "true" role="button" ng-click = "newEntryClick()" class="btn pull-left" data-toggle="modal"><i class="fa fa-plus"></i> New line</a>
                              </div>
                          </td>

                        </tr>

                    </tbody>
                </table>
              </div>
          </div>


             <!-- dialog directive -->
        <div class="btn-toolbar pull-left" >
                <modal lolo="modal1" modal-body="body" modal-footer="footer" modal-header="header" modal-currentviewmodal='currentviewmodal'
                modal-headerdate = "headerdate" 
                modal-projectList = "projectList" 
                modal-projectGroups = "projectGroups" 
                modal-taskList = "taskList"
                modal-taskname= 'taskname'
                modal-projectname= 'projectname' 
                modal-comments='comments'
                modal-hours='hours'
                modal-weekeventslist='weekeventslist'
                modal-iseditevent="iseditevent"
                data-ng-save-task-week-view="saveTaskEntry()"
                ></modal>
          </div>
 </div>
